// family
$family: 'Space Grotesk', sans-serif;

// size og the body
$main-size: 18px;

// Primary colors
///// color name
$grad-start: hsl(249, 99%, 64%);
$grad-end: hsl(278, 94%, 30%);
$red: hsl(0, 100%, 66%);
$white: hsl(0, 0%, 100%);
$light-grayish-violet: hsl(270, 3%, 87%);
$dark-grayish-violet: hsl(279, 6%, 55%);
$very-dark-violet: hsl(278, 68%, 11%);

///// role color
$error-color: $red;
$placeholder-color: $light-grayish-violet;
$text-color: $dark-grayish-violet;
$btn-bg: $very-dark-violet;

// brak poit
$small: '(min-width: 768px)';
$mobile: '(max-width: 767px)';